*{
    margin: 0;
    
}
header{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: rgba(10, 224, 231, 0.911);
    flex: 0.7;
    align-items: center;
    
}
h1{
   
    font-style: normal;
    font-size: 30PX;
    /* color: darkkhaki; */
    color: darkslateblue;

}


.link{
    list-style: none;
    align-items: center;
    display: flex;
    margin-right: 10px;
    /* word-spacing: 10px; */
    flex: 0.3;
}



h2{
    height: 50vh;
    background: cadetblue;
    display: flex;
    color: tan;
    
}
h2 p button{
    padding: 20;
    border-radius: 20px;
    color: thistle;
    margin-top: 60px;
}
p{
    flex: 0.7;
    overflow: hidden;
    padding: 10px;
    
}
img{
    flex: 0.3;
}
.link li{
    margin-left: 20px;
    color: tomato;
}
.link li :hover{
    background-color: slateblue;
}
.link li  button{
    
    font-style: italic;
    padding: 20;
    border-radius: 20px;
   color: violet;
   
}
.bannerspan{
    color: red;
}