*{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: rgba(10, 224, 231, 0.911);
    flex: 0.7;
    align-items: center;
}


.link{
    list-style: none;
    align-items: center;
    display: flex;
    margin-right: 10px;
    /* word-spacing: 10px; */
    flex: 0.3;
}



h2{
    height: 50vh;
    background: cadetblue;
    display: flex;
    
}
p{
    flex: 0.7;
}
img{
    flex: 0.3;
}
.link li{
    margin-left: 20px;
}
.link li  button{
    padding: 15px;
    font-style: italic;
    pa
}